* {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    font-weight: bolder;
}

.pizza {
    background-color: green;
    color: red;
}

.chilli {
    background-color: red;
    color: green;
}

.omuraisu {
    background-color: white;
    color: red;
}

.start {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 600px;
    border: 1px solid rgb(31, 29, 29);
    margin: 8px auto;
    background-color: rgb(14, 13, 13);
    color: rgb(68, 0, 255);
    font-weight: 700;
}

.block {
    text-align: center;
}

.block img {
    height: auto;
    width: 500px;
}

.food :hover {
    color: red;
}

.food {
    list-style-position: inside;
    text-align: left;
    font-weight: bolder;
    border: 1px solid rgb(68, 0, 255);
    margin-right: 200px;
    margin-left: 200px;
}

html {
    background-color: black;
    color: white;
}