* {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    font-weight: bolder;
}

.pizza {
    background-color: green;
    color: red;
}

.chilli {
    background-color: red;
    color: green;
}

.omuraisu {
    background-color: white;
    color: red;
}

.start {
    text-align: center;
    background-color: rgb(14, 13, 13);
    color: rgb(68, 0, 255);
    font-weight: 700;
}

.block {
    text-align: center;
}

.block img {
    height: auto;
    width: 500px;
}

.food {
    font-weight: bolder;
}

html {
    background-color: black;
    color: white;
}